.novoprojeto_conteiner{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.novoprojeto_conteiner h1{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.novoprojeto_conteiner p{
    color: #7b7b7b;
}